<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | X-TEC TEColones</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @*@Html.ActionLink("Application name", "Index", "AdminHome", new { area = "" }, new { @class = "navbar-brand" }) *@
                <a style="font-size:30px;color:white">X-<img src="https://www.tec.ac.cr/sites/all/themes/tec/img/logo.svg" alt="W3Schools.com"></a>

                <a style="color:orangered"> {Links} Info X-TEC|TEColones {Pagina de info oficial} </a>
            </div>
            <div class="navbar-header navbar-right">
                <div class="nav-divider">
                    <div class="divider">
                        <a style="color:ghostwhite"> @ViewBag.Message </a>
                        <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" style="width:40px;height:40px" />
                        <button class="btn"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                    <div class="divider text-right">
                        <a href="~/LogIn/LogIn">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-link">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Pagina Principal", "Home", "AdminHome")</li>
                <li>@Html.ActionLink("Crear Usuario", "Index", "CreateUser")</li>
                <li>@Html.ActionLink("Configuracion", "Index", "Configuration")</li>
                <li>@Html.ActionLink("Crear Promocion", "CreatePromotion", "Promotion")</li>
                <li>@Html.ActionLink("Ver Promociones", "ViewPromotion", "Promotion")</li>
                <li>@Html.ActionLink("Reportes", "Index", "Report")</li>
                <li>@Html.ActionLink("Dashboard", "Index", "AdminDashboard")</li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year | X-TEC TEColones</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
