@model X_TEC.TEColones.Models.AdminModels.AdminModel

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}

<h2>Crear Usuario Nuevo</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <h2 style="color:darkorange">@ViewBag.Message</h2>


    <div class="py-5">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        @{ 
            TempData["admin"] = Model;
        }

        @using (Html.BeginForm("CreateUser", "CreateUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form id="c_form-h" class="">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.Identification, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.Identification, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.Identification, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.Department, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.Department, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.University, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.University, new { htmlAttributes = new { @class = "form-control", placeholder = "X-Tecnologico de Costa Rica", disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.University, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.Headquarter, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.Headquarter, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.Headquarter, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewAdminSCMModel.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewAdminSCMModel.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewAdminSCMModel.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> </div>
                                <div class="col-md-4">
                                    <div class="form-group row justify-content-center">
                                        <div>
                                            <input type="radio" id="admin" name="isAdmin" value="1"
                                                   checked required>
                                            <label for="admin">Administrador del Sistema</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="scm" name="isAdmin" value="0">
                                            <label for="scm">Encargado Centro de Acopio</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>                                                        
                            
                            <div class="row">
                                <div class="col-md-4"> </div>
                                <div class="col-md-4">
                                    <div class="form-group row justify-content-center">

                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Crear usuario" class="btn btn-secondary" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    

    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
    </script>

    <script type="text/javascript">

        function ShowPreview(input) {
            if (input.files && input.files[0]) {
                var ImageDir = new FileReader();
                ImageDir.onload = function (e) {
                    $('#impPrev').attr('src', e.target.result);
                }
                ImageDir.readAsDataURL(input.files[0]);
            }
        }
    </script>


</body>
</html>
