@model X_TEC.TEColones.Models.AdminModels.AdminModel


@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>Configuraciones</title>
</head>

<body>
    @{
        TempData["admin"] = @Model;
    }
    <div class="py-2">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <h5><a class="nav-link active" href="#">@Html.ActionLink("Tasa de Conversion Material-TEColones ", "MaterialValueConfiguration", "Configuration")</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link" href="#">@Html.ActionLink(" Tasa de Conversion TEColones - Colones ", "TCSValueConfiguration", "Configuration")</a></h5>
            </li>
            <li class="nav-item">
                <h5><a class="nav-link" href="#">@Html.ActionLink(" Cuenta Twitter", "TwitterConfiguration", "Configuration")</a></h5>
            </li>
        </ul>
    </div>
    @using (Html.BeginForm("GetNewMaterialTCSValues", "Configuration", FormMethod.Post))
    {
        <div class="py-3">
            <table align="center">
                <tr>
                    <th>Categoria</th>
                    <th>TEColones por kg</th>
                </tr>
                @{
                    foreach (KeyValuePair<string, float> item in Model.ConfigurationModel.Materials)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td><input type="number" id="@item.Key" name="@item.Key" placeholder="@item.Value" /></td>
                        </tr>
                    }

                }
            </table>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary text-center justify-content-center align-items-center w-30">Guardar</button>
            &nbsp;
            <button type="reset" class="btn btn-danger text-center justify-content-center align-items-center w-30">Cancelar</button>
        </div>
    }
    <!--</form> -->
</body>

</html>