@model X_TEC.TEColones.Models.AdminModels.AdminModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        
        // Load Charts and the corechart package.
        //google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.load('current', { 'packages': ['corechart', 'line'] });
        google.charts.load('current', { 'packages': ['table'] });
        // Draw the COLUMN chart for TONELADASxMES when Charts is loaded.
        google.charts.setOnLoadCallback(drawToneladasMesChart);
        google.charts.setOnLoadCallback(drawUsuariosIntercambiandoMesChart);
        google.charts.setOnLoadCallback(drawDineroBeneficiosChart);
        google.charts.setOnLoadCallback(drawMaterialesSedeChart);
        // Callback that draws the COLUMN chart for EL DIAGRAMA.
        function drawToneladasMesChart() {
            var data = google.visualization.arrayToDataTable([
                ['Meses', 'Toneladas'],
                ['Ene', @Model.DashboardModel.ToneladasXmes[0] ] ,
                ['Feb', @Model.DashboardModel.ToneladasXmes[1] ],
                ['Mar', @Model.DashboardModel.ToneladasXmes[2] ],
                ['Abr', @Model.DashboardModel.ToneladasXmes[3] ],
                ['May', @Model.DashboardModel.ToneladasXmes[4] ],
                ['Jun', @Model.DashboardModel.ToneladasXmes[5] ],
                ['Jul', @Model.DashboardModel.ToneladasXmes[6] ],
                ['Ago', @Model.DashboardModel.ToneladasXmes[7] ],
                ['Sep', @Model.DashboardModel.ToneladasXmes[8] ],
                ['Oct', @Model.DashboardModel.ToneladasXmes[9] ],
                ['Nov', @Model.DashboardModel.ToneladasXmes[10] ],
                ['Dic', @Model.DashboardModel.ToneladasXmes[11] ]
            ]);
            var options = {
                title: 'Toneladas por Mes',
                chartArea: { width: '100%', height: '100%' },
                legend: { position: 'none' },
                hAxis: {
                    title: 'Meses',
                },
                vAxis: {
                    title: 'Toneladas',
                },
                backgroundColor: '#f1f8e9'
            };
            var chart = new google.charts.Bar(document.getElementById('chart_ToneladasMes'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }


        // Callback that draws the chart .
        function drawMaterialesSedeChart() {

            var jsonDataset = @Html.Raw(Model.DashboardModel.TxS);
            var statesArray = [["Sede", "Toneladas"]];
            $.each(jsonDataset, function () {
                var stateitem = [this.Sede, this.Tons];
                statesArray.push(stateitem);
            });


            var tableData = new google.visualization.arrayToDataTable(statesArray);
            
            


            var options = {
                title: 'Toneladas por Sede',
                chartArea: { width: '100%', height: '100%' },
                legend: { position: 'none' },
                hAxis : {
                    title: 'Sedes',
                },
                vAxis: {
                    title: 'Toneladas',
                },
                backgroundColor: '#f1f8e9'
            };
            var chart = new google.charts.Bar(document.getElementById('chart_ToneladasSede'));
            chart.draw(tableData, google.charts.Bar.convertOptions(options));
        }
        // Callback that draws the chart .
        function drawUsuariosIntercambiandoMesChart() {
            var data = google.visualization.arrayToDataTable([
                ['Meses', 'Cant Personas'],
                ['Ene', @Model.DashboardModel.UsuariosXmes[0] ],
                ['Feb', @Model.DashboardModel.UsuariosXmes[1] ],
                ['Mar', @Model.DashboardModel.UsuariosXmes[2] ],
                ['Abr', @Model.DashboardModel.UsuariosXmes[3] ],
                ['May', @Model.DashboardModel.UsuariosXmes[4] ],
                ['Jun', @Model.DashboardModel.UsuariosXmes[5] ],
                ['Jul', @Model.DashboardModel.UsuariosXmes[6] ],
                ['Ago', @Model.DashboardModel.UsuariosXmes[7] ],
                ['Sep', @Model.DashboardModel.UsuariosXmes[8] ],
                ['Oct', @Model.DashboardModel.UsuariosXmes[9] ],
                ['Nov', @Model.DashboardModel.UsuariosXmes[10] ],
                ['Dic', @Model.DashboardModel.UsuariosXmes[11] ]
            ]);
            var options = {
                title: 'Personas Obteniendo TEColones por Mes',
                pointsVisible: true,
                hAxis: {
                    title: 'Meses'
                },
                vAxis: {
                    title: 'Cantidad de Personas'
                },
                backgroundColor: '#f1f8e9'
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_UsuariosIntercambiando'));
            chart.draw(data, options);
        }
        // Callback that draws the chart .
        function drawDineroBeneficiosChart() {
            var data = google.visualization.arrayToDataTable([
                ['Meses', 'Cant Dinero'],
                ['Ene', @Model.DashboardModel.DineroXbeneficio[0] ],
                ['Feb', @Model.DashboardModel.DineroXbeneficio[1] ],
                ['Mar', @Model.DashboardModel.DineroXbeneficio[2] ],
                ['Abr', @Model.DashboardModel.DineroXbeneficio[3] ],
                ['May', @Model.DashboardModel.DineroXbeneficio[4] ],
                ['Jun', @Model.DashboardModel.DineroXbeneficio[5] ],
                ['Jul', @Model.DashboardModel.DineroXbeneficio[6] ],
                ['Ago', @Model.DashboardModel.DineroXbeneficio[7] ],
                ['Sep', @Model.DashboardModel.DineroXbeneficio[8] ],
                ['Oct', @Model.DashboardModel.DineroXbeneficio[9] ],
                ['Nov', @Model.DashboardModel.DineroXbeneficio[10] ],
                ['Dic', @Model.DashboardModel.DineroXbeneficio[11] ]
            ]);
            var options = {
                title: 'Cantidad de Dinero Otorgado en Beneficios',
                pointsVisible: true,
                hAxis: {
                    title: 'Meses'
                },
                vAxis: {
                    title: 'Cantidad de Dinero'
                },
                backgroundColor: '#f1f8e9'
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_DineroBeneficios'));
            chart.draw(data, options);
        }
        //-------------------------------VELOCIMETRO--------------------------------------------
        google.charts.load('current', { 'packages': ['gauge'] });
        google.charts.setOnLoadCallback(drawGauge);
        function drawGauge() {
            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['', @Model.DashboardModel.ToneladasAnuales]
            ]);
            var options = {
                width: 500, height: 300,
                greenFrom: 15, greenTo: 20,
                yellowFrom: 10, yellowTo: 15,
                max: 20
            };
            var chart = new google.visualization.Gauge(document.getElementById('chart_gauge'));
            chart.draw(data, options);
        }
            //---------------------------------------------------------------------------------------
    </script>
    <title>Dashboard</title>
</head>


<body>

    <table class="columns" align="center">
        <tr>
            <td><h3>Toneladas Anuales</h3><div id="chart_gauge" style="width: 350px; height: 350px;"></div></td>
            <td><div id="chart_ToneladasMes" style="width: 350px; height: 350px;"></div></td>
            <td><div id="chart_ToneladasSede" style="width: 350px; height: 350px;"></div></td>
        </tr>

        <tr>
            <td><div id="chart_UsuariosIntercambiando" style="width: 350px; height: 350px;"></div></td>
            <td><div id="chart_DineroBeneficios" style="width: 350px; height: 350px;"></div></td>
            <td align="center">
                <h3>Top 10 de Estudiantes</h3>
                <table border="1">
                    <tr>
                        <th>Puesto</th>
                        <th>Estudiante</th>
                        <th>Carnet</th>
                        <th>Cantidad (kg)</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>@Model.DashboardModel.Top10[0].FirstName @Model.DashboardModel.Top10[0].LastName</td>
                        <td>@Model.DashboardModel.Top10[0].Id</td>
                        <td>@Model.DashboardModel.Top10[0].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>@Model.DashboardModel.Top10[1].FirstName @Model.DashboardModel.Top10[1].LastName</td>
                        <td>@Model.DashboardModel.Top10[1].Id</td>
                        <td>@Model.DashboardModel.Top10[1].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>@Model.DashboardModel.Top10[2].FirstName @Model.DashboardModel.Top10[2].LastName</td>
                        <td>@Model.DashboardModel.Top10[2].Id</td>
                        <td>@Model.DashboardModel.Top10[2].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>@Model.DashboardModel.Top10[3].FirstName @Model.DashboardModel.Top10[3].LastName</td>
                        <td>@Model.DashboardModel.Top10[3].Id</td>
                        <td>@Model.DashboardModel.Top10[3].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>@Model.DashboardModel.Top10[4].FirstName @Model.DashboardModel.Top10[4].LastName</td>
                        <td>@Model.DashboardModel.Top10[4].Id</td>
                        <td>@Model.DashboardModel.Top10[4].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>@Model.DashboardModel.Top10[5].FirstName @Model.DashboardModel.Top10[5].LastName</td>
                        <td>@Model.DashboardModel.Top10[5].Id</td>
                        <td>@Model.DashboardModel.Top10[5].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>@Model.DashboardModel.Top10[6].FirstName @Model.DashboardModel.Top10[6].LastName</td>
                        <td>@Model.DashboardModel.Top10[6].Id</td>
                        <td>@Model.DashboardModel.Top10[6].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>@Model.DashboardModel.Top10[7].FirstName @Model.DashboardModel.Top10[7].LastName</td>
                        <td>@Model.DashboardModel.Top10[7].Id</td>
                        <td>@Model.DashboardModel.Top10[7].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>@Model.DashboardModel.Top10[8].FirstName @Model.DashboardModel.Top10[8].LastName</td>
                        <td>@Model.DashboardModel.Top10[8].Id</td>
                        <td>@Model.DashboardModel.Top10[8].KgRecicled</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>@Model.DashboardModel.Top10[9].FirstName @Model.DashboardModel.Top10[9].LastName</td>
                        <td>@Model.DashboardModel.Top10[9].Id</td>
                        <td>@Model.DashboardModel.Top10[9].KgRecicled</td>
                    </tr>


                </table>
            </td>
        </tr>
    </table>



</body>
</html>