@model X_TEC.TEColones.Models.AdminModels.AdminModel
@{
    ViewBag.Title = "Crear Promocion";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>Crear Promociones de un Combo de Materiales</title>
</head>

<body>
    @{
        TempData["admin"] = @Model;
    }
    <div class="py-2">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <h5><a class="nav-link" href="#">@Html.ActionLink("Promocion Individual ", "CreateSinglePromotion", "Promotion")</a></h5>
            </li>
            &nbsp;
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <h5><a class="nav-link active" href="#">@Html.ActionLink(" Promocion en Combo", "CreateComboPromotion", "Promotion")</a></h5>
            </li>
        </ul>
    </div>

    @using (Html.BeginForm("NewComboPromotion", "Promotion", FormMethod.Post))
     {
        @ViewBag.Msj
        <div class="py-2">
            <table align="left">
                <tr>
                    <th>Material</th>
                    <th>Cantidad kg</th>
                    <th>Seleccionar</th>
                </tr>

                @foreach (var item in Model.PromotionModel.ListMaterials)
                 {
                    <tr>
                        <td>
                            @item
                        </td>
                    
                        <td>
                            <input type="number" id="@item" name="@item" />
                        </td>

                        <td>
                            <input type="checkbox" id="checkbox @item" name="checkbox @item" value="true" />
                        </td>
                    </tr>
                 }
            </table>

            <h5 align="right">
                Beneficio (TEColones):
                <input type="text" id="inputValueTCS" name="inputValueTCS" required oninvalid="this.setCustomValidity('Todos los campos son de caracter obligatorio.')" oninput="setCustomValidity('')" />
            </h5>

            <h5 align="right">
                Tiempo Limite: 
                <input type="datetime-local" id="inputFinishDate" name="inputFinishDate"><br>
            </h5>

            <h5 align="center">
                Guardar y Activar: 
                <input type="radio" name="publish" id="publish" value="publish"/><br>
            </h5>

            <h5 align="center">
                Guardar y Almacenar: 
                <input type="radio" name="save" id="save" value="save"/><br> 
            </h5>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary text-center justify-content-center align-items-center w-30">Guardar</button>
            &nbsp;
            <button type="reset" class="btn btn-danger text-center justify-content-center align-items-center w-30">Cancelar</button>
        </div>
        <br>
        <br>
     }
    <br>
    <br>
    <!--</form> -->
</body>

</html>